* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    width: 1140px;
    margin: 82px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    grid-template-rows: repeat(2, minmax(260px, auto));
    grid-auto-rows: 200px;
    gap: 60px;
}
.grid-elem { 
    &__img {
        width: 100%;
    }
    &__text {
        margin-top: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
}

